<div class="container mt-5">
    <div style="text-align: center;">
        
        @if(!registerMode)
        {
<h1>Find the Matches</h1>
        <p class="lead">Sign up to find Match</p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg me-2"(click)="register()">Register</button>
            <button class="btn btn-info btn-lg me-2">Lear More</button>
        </div>
        }     
    </div>
    <div class="container">
        @if(registerMode)
        {
<div class="row justify-content-center">
            <div class="col-4">
                <app-register-component (CancelTheRegister)="CancelRegisterToggle($event)"></app-register-component>
            </div>
        </div>
        }
    </div>
</div>
